@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.img-box > img {
    width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.hide {
    display: none;
}

header > .side-menu {
    position: absolute;
    left: 50%;
    top: 186px;
    width: 60px;
    margin-left: 600px;
    text-align: center;
    transition: top 1s;
}

header > .side-menu > .img-box {
    display: block;
    min-height: 57px;
    margin-bottom: 10px;
}

header > .side-menu > .img-box:nth-child(3) {
    margin: 0;
}

header > .side-menu > .img-box:nth-child(3) > img {
    display: none;
}

header > .side-menu > .img-box:nth-child(3) > img.active {
    display: block;
}

header > .side-menu > .img-box:nth-child(3):hover > img {
    display: block;
}

header > .side-menu > .img-box:nth-child(3):hover > img.active {
    display: none;
}

header > .side-menu > span,
header > .side-menu > .late {
    display: block;
    padding: 5px 0;
    font-size: 11px;
    border-bottom: 1px solid #ddd;
}

header > .side-menu > a:hover {
    text-decoration: underline;
}

header > .side-menu > div > div {
    float: left;
    width: 50%;
    text-align: center;
}

header > .side-menu > div:nth-last-child(2) {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fbfbfb;
}

header > .side-menu > div:nth-last-child(2) > div:last-child {
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}

header > .side-menu > div:nth-last-child(2) > div > i {
    font-size: 13px;
}

header > .side-menu > a:last-child {
    display: block;
    margin-top: 10px;
    padding: 2px 0;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}

header > .side-menu > a:last-child > div {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

header > .top-bar-1 {
    height: 32px;
    background-color: black;
}

header > .top-bar-1 > div {
    text-align: right;
    padding-top: 5px;
}

header > .top-bar-1 > div > a {
    color: white;
    font-size: 12px;
    padding: 0 10px;
}

header > .top-bar-1 > div > a > span {
    color: red;
}

header > .top-bar-2 > div {
    float: left;
    width: 400px;
}

header > .top-bar-2 > div:nth-child(1) > div {
    margin-top: 80px;
}

header > .top-bar-2 > div:nth-child(1) > div > a {
    float: left;
    position: relative;
    padding: 0 10px;
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
}

header > .top-bar-2 > div:nth-child(1) > div > a:hover {
    color: #000;
}

header > .top-bar-2 > div:nth-child(1) > div > a::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #aaaaaa;
}

header > .top-bar-2 > div:nth-child(1) > div > a:last-child::after {
    width: 0;
}

header > .top-bar-2 > div:nth-child(2) {
    width: 350px;
    text-align: center;
}

header > .top-bar-2 > div:nth-child(3) > div {
    width: 210px;
    height: 22px;
    margin-top: 80px;
    margin-left: 180px;
    border: 1px solid black;
}

header > .top-bar-2 > div:nth-child(3) > div > input[type=text] {
    float: left;
    width: 185px;
    height: 22px;
    border: none;
}

header > .top-menu {
    border-top: 3px solid black;
}

header > .top-menu > ul {
    margin-left: 60px;
}

header > .top-menu > ul > li {
    float: left;
    position: relative;
}

header > .top-menu > ul > li > a {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
}

header > .top-menu > ul > li:hover > a {
    background-color: black;
    color: white;
}

header > .top-menu > ul > li > div {
    height: 5px;
}

header > .top-menu > ul > li > div::after {
    content: "";
    position: absolute;
    left: 30px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    display: none;
}

header > .top-menu > ul > li > ul {
    position: absolute;
    top: 43px;
    width: 160px;
    border: 1px solid black;
    display: none;
    z-index: 1;
}

header > .top-menu > ul > li:hover > div::after,
header > .top-menu > ul > li:hover > ul {
    display: block;
}

header > .top-menu > ul > li > ul > li {
    border-bottom: 1px solid #d8d8d8;
}

header > .top-menu > ul > li > ul > li:last-child {
    border-bottom: none;
}

header > .top-menu > ul > li > ul > li > a {
    display: block;
    padding: 5px;
    background-color: white;
    font-size: 12px;
}

header > .top-menu > ul > li > ul > li:hover > a {
    background-color: black;
    color: white;
}

.main-box-1 > div {
    float: left;
}

.main-box-1 > div:first-child {
    width: 220px;
    margin-right: 10px;
}

.main-box-1 > div:first-child > div:last-child {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
}

.main-box-1 > div:first-child > div:last-child > a {
    display: block;
    margin: 5px;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-box-1 > div:first-child > div:last-child > a::before {
    content: "+ ";
}

.main-box-1 > .main-banner {
    position: relative;
    width: 600px;
    height: 460px;
    margin-right: 10px;
}

.main-box-1 > .main-banner > .cover-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-box-1 > .main-banner > .cover-box > div {
    position: absolute;
    background-repeat: no-repeat;
}

.main-box-1 > .main-banner > .img-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-box-1 > .main-banner > .img-box > a {
    display: none;
}

.main-box-1 > .main-banner > .img-box > a.active {
    display: block;
}

.main-box-1 > .main-banner > .l-btn,
.main-box-1 > .main-banner > .r-btn {
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px;
    height: 50px;
    transform: translatey(-50%);
    background-color: black;
    opacity: 0.5;
    text-align: right;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.main-box-1 > .main-banner > .r-btn {
    left: auto;
    right: 0;
    text-align: left;
}

.main-box-1 > .main-banner > .l-btn::after,
.main-box-1 > .main-banner > .r-btn::after {
    content: "";
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    z-index: -1;
}

.main-box-1 > .main-banner > .r-btn::after {
    left: auto;
    right: 5px;
}

.main-box-1 > .main-banner > .l-btn > i,
.main-box-1 > .main-banner > .r-btn > i {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

.main-box-1 > .main-banner > .l-btn:hover,
.main-box-1 > .main-banner > .r-btn:hover {
    opacity: 0.7;
}

.main-box-1 > .main-banner:hover > .l-btn,
.main-box-1 > .main-banner:hover > .r-btn {
    display: block;
}

.main-box-1 > .main-banner > .btn-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    padding-top: 2px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
}

.main-box-1 > .main-banner > .btn-bar > div {
    float: left;
    width: 50%;
    height: 100%;
}

.main-box-1 > .main-banner > .btn-bar > div:first-child > span {
    margin-left: 10px;
    font-size: 13px;
    color: #2b2b2b;
    display: none;
}

.main-box-1 > .main-banner > .btn-bar > div:first-child > span.active {
    display: inline-block;
}

.main-box-1 > .main-banner > .btn-bar > div:last-child {
    padding-left: 20px;
    box-sizing: border-box;
}

.main-box-1 > .main-banner > .btn-bar > div:last-child > div {
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 8px;
    margin-left: 10px;
    background: linear-gradient(#7e7e7e, #3f3f3f);
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.main-box-1 > .main-banner > .btn-bar > div:last-child > div.active {
    background: linear-gradient(#61c0ff, #13acff);
    border: 1px solid #1f8fcd;
}

.main-box-1 > div:last-child {
    width: 310px;
    height: 460px;
}

.main-box-1 > div:last-child > div:last-child {
    margin-top: 10px;
}

.main-box-1 > div:last-child > div:last-child > div:first-child {
    height: 40px;
}

.main-box-1 > div:last-child > div:last-child > div:first-child > a {
    float: left;
    width: 250px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 30px;
}

.main-box-1 > div:last-child > div:last-child > div:first-child > a:first-child,
.main-box-1 > div:last-child > div:last-child > div:first-child > a:last-child {
    width: 30px;
    font-size: 15px;
}

.main-box-1 > div:last-child > div:last-child > div:last-child {
    width: 100%;
    height: 314px;
    overflow: hidden;
}

.main-box-1 > div:last-child > div:last-child > div:last-child > div {
    width: 700%;
    height: 100%;
    transition: margin 0.3s;
}

.main-box-1 > div:last-child > div:last-child > div:last-child > div > img {
    float: left;
}

.main-box-2 {
    height: 530px;
    margin-top: 45px;
    border-top: 2px solid black;
}

.main-box-2 > h2 {
    position: relative;
    padding: 5px 0;
    text-align: center;
}

.main-box-2 > ul {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.main-box-2 > h2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-top: 1px dotted black;
}

.main-box-2 > h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    border-top: 1px dotted black;
}

.main-box-2 > ul > li {
    position: relative;
    float: left;
}

.main-box-2 > ul > li.active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-top: 3px solid black;
}

.main-box-2 > ul > li.active::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 3px;
    transform: translatex(-50%);
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.main-box-2 > ul > li > a {
    display: block;
    width: 160px;
    height: 56px;
    padding: 25px 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #999;
}

.main-box-2 > ul > li > ul {
    position: absolute;
    top: 90px;
    width: 1150px;
    display: none;
}

.main-box-2 > ul > li.active > ul {
    display: block;
}

.main-box-2 > ul > li:nth-child(1) > ul {
    width: 863px;
    left: -33px;
}

.main-box-2 > ul > li:nth-child(2) > ul {
    left: -335px;
}

.main-box-2 > ul > li:nth-child(3) > ul {
    left: -495px;
}

.main-box-2 > ul > li:nth-child(4) > ul {
    left: -655px;
}

.main-box-2 > ul > li:nth-child(5) > ul {
    left: -815px;
}

.main-box-2 > ul > li > ul > li {
    width: calc(1150px / 4);
    padding: 0 15px;
}

.main-box-2 > ul > li > ul > li > .img-box {
    display: block;
    border: 1px solid #ececec;
}

.main-box-2 > ul > li > ul > li > .name-box > a {
    font-size: 12px;
    color: #555;
    vertical-align: middle;
}

.main-box-2 > ul > li > ul > li > .name-box > a:hover {
    text-decoration: underline;
}

.main-box-2 > ul > li > ul > li > .name-box > img {
    vertical-align: middle;
}

.main-box-2 > ul > li > ul > li > .price-box > span {
    font-size: 12px;
    color: #555;
}

.main-box-2 > ul > li > ul > li > .price-box > p {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: line-through;
}

.main-box-2 > ul > li > ul > li > .price-box > strong {
    display: block;
    font-size: 15px;
    color: #f90032;
}

.main-box-3 {
    margin-bottom: 60px;
}

.main-box-3 > h2 {
    position: relative;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
}

.main-box-3 > h2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px dotted black;
}

.main-box-3 > h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    border-top: 1px dotted black;
}

.main-box-3 > ul {
    margin-top: 30px;
}

.main-box-3 > ul > li {
    width: calc(1150px / 4);
    padding: 0 15px;
}

.main-box-3 > ul > li > .img-box {
    display: block;
    border: 1px solid #999;
}

.main-box-3 > ul > li > .name-box > a {
    font-size: 12px;
    color: #555;
    vertical-align: middle;
}

.main-box-3 > ul > li > .name-box > a:hover {
    text-decoration: underline;
}

.main-box-3 > ul > li > .name-box > img {
    vertical-align: middle;
}

.main-box-3 > ul > li > .price-box > span {
    font-size: 12px;
    color: #555;
}

.main-box-3 > ul > li > .price-box > p {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: line-through;
}

.main-box-3 > ul > li > .price-box > strong {
    display: block;
    font-size: 15px;
    color: #f90032;
}

footer {
    border-top: 2px solid black;
}

footer > div:first-child > div {
    float: left;
    width: calc(1150px / 4);
}

footer > div:first-child > div > ul > li > a {
    display: block;
    padding: 1px 30px;
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer > div:first-child > div > ul > li > a:hover {
    color: #000;
}

footer > div:first-child > div > ul > li > a::before {
    content: "· ";
}

footer > div:first-child > div:last-child > .img-box {
    float: left;
    display: block;
    min-height: 80px;
}

footer > div:first-child > div:last-child > .img-box > img {
    display: none;
}

footer > div:first-child > div:last-child > .img-box > img.active {
    display: block;
}

footer > div:first-child > div:last-child > .img-box:hover > img {
    display: block;
}

footer > div:first-child > div:last-child > .img-box:hover > img.active {
    display: none;
}

footer > div:nth-child(2) {
    padding: 5px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

footer > div:nth-child(2) > ul > li {
    display: inline-block;
}

footer > div:nth-child(2) > ul > li > a {
    display: block;
    padding: 0 20px;
    font-size: 12px;
    color: #777;
}

footer > div:nth-child(2) > ul > li > a:hover {
    color: #000;
}

footer > div:last-child > img {
    float: left;
}

footer > div:last-child > p {
    float: left;
    padding: 30px;
    font-size: 14px;
    line-height: 28px;
}

footer > div:last-child > p > a {
    color: red;
    font-weight: bold;
}
